{% extends "base.html" %}

{% block content %}
<div class="col-md-6">
	<div class="box">
    	<div class="box-header with-border">
      		<h3 class="box-title">Товары в вашей корзине</h3>
    	</div>
    	<div class="box-body">
      		<div class="panel">
	  		{% for item in object.basket_basketitem.all %}
				<table class="table">
					<thead>
						<tr>
	    					<th>Товар</th>
	    					<th>Количество</th>
	    					<th>Цена</th>
						</tr>
					</thead>
					<tbody>
						<tr>
	    					<td>{{ item.good }}</td>
	    					<td>{{ item.number }}</td>
	    					<td>{{ item.price }}</td>
	    					<td>
								<form method="POST" action="{% url 'clients:add-goods-to-pay' item.good.slug %}">
									{% csrf_token %}
									<input type="hidden" name="basket_item" value="{{item.uuid}}">
									<input type="hidden" name="good" value="{{ item.good.uuid }}">
									<input type="hidden" name="user" value="{{ profile.user_id }}">
									<input type="hidden" name="number" value="{{ item.number }}">
									<button type="submit" class="btn btn-default">Приобрести</button>
	      						</form>
	      						<form method="POST" action="{% url 'basket:delete-item' item.uuid %}">
									{% csrf_token %}
									<input type="hidden" name="good" value="{{ item.good }}">
									<input type="hidden" name="number" value="{{ item.number }}">
									<input type="hidden" name="basket" value="{{ object }}">
									<button class="btn btn-danger">Удалить</button>
								</form>
	    					</td>
	  					</tr>
	  				</tbody>
				</table>
				{% endfor %}
      		</div>
    	</div>
	</div>
</div>
{% endblock %}
