{% extends "base.html" %}
{% load i18n thumbnail %}

{% block content %}
<section class="content">
	<div class="page-title">
		<div class="title-left">
			<h3>Страница товара</h3>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel">
			<div class="content">
			<div class="row">
  				<div class="card card-solid">
    				<div class="card-body">
      					<div class="col-12 col-sm-6">
							<ul>
								<h3 class="d-inline-block d-sm-none">{{object.name}} {{object.model}}</h3>
	  							<div class="col-12 product-image-thumbs">
	    							{% thumbnail object.photo "200x200" crop="center" as im %}
	    							<div class="product-image-thumb active"><img src="{{ im.url }}" alt="Product Image"></div>
	    							{% endthumbnail %}
								</div>
							</ul>
						</div>
						<div class="col-12 col-sm-6">
	  						<div>
	    						<h3 class="mb-0">Цена
	      						{{ object.total_price }}
	    						</h3>
	    						<h4 class="mt-0">
	      						<small>Ex Tax: {{ object.total_price }} </small>
	    						</h4>
	  						</div>
							<form method="POST" action="{% url 'basket:add-goods' %}">
	      					{% csrf_token %}
	      						<input type="hidden" name="basket" id="id_basket" value="{{ user.profile.basket_id }}">
	      						<input type="hidden" name="good" id="id_good" value="{{ object.uuid }}">
	      						<input type="hidden" name="number" id="id_number" value="1">
	    						<button class="btn btn-default btn-lg btn-flat" type="submit">
	      						В корзину
	    						</button>
							</form>
							<div>
								<h3>Описание</h3>
								<p>
								{{object.description}}
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<ul>
								<h3>Характеристики</h3>
								<div class="row">
									<div class="col-md-12">
										{% for spec in object.spec_bool.all %}
										<li>{{ spec.name }} - {{ spec.value }}</li>
										{% endfor %}
										{% for spec in object.spec.all %}
										<li>{{ spec.name }} - {{ spec.value }}</li>
										{% endfor %}
									</div>
								</div>
							</ul>
						</div>
					</div>
      			</div>
    		</div>
    	<!-- /.card-body -->
  		</div>
  		<!-- /.card -->
	</div>
	</div>
</section>
{% endblock %}
