{% extends 'registration_base.html'%}
{% load static i18n %}

{% block content %}

{% if form.errors %}
{% for key, value in form.errors.items %}
{{ value }}
{% endfor %}
{% endif %}

<form action="{% url 'clients:login' %}" method="POST">
	{% csrf_token %}
	<div class="form-group has-feedback">
		<input type="text" class="form-control" placeholder="Login" name="username">
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	</div>

	<div class="form-group has-feedback">
		<input type="password" class="form-control" placeholder="Password" name="password">
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	</div>

	<div class="row">
		<div class="col-xs-8">
			<div class="checkbox icheck">
				<label>
					<input type="checkbox"> Remember Me
				</label>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-xs-4">
			<button type="submit" class="btn btn-default btn-block btn-flat">Sign In</button>
		</div>
		<!-- /.col -->
	</div>
</form>

<div class="social-auth-links text-center">
	<p>- OR -</p>
	<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
		Facebook</a>
	<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
		Google+</a>
</div>
<!-- /.social-auth-links -->

<a href="#">I forgot my password</a><br>
<a href="register.html" class="text-center">Register a new membership</a>

</div>
<!-- /.login-box-body -->
</div>
{% endblock %}