{% extends 'registration_base.html' %}

{% block content %}
{% if form.errors %}
{% for key, value in form.errors.items %}
  <p>{{ value }}</p>
{% endfor %}
{% endif %}

<div class="login-box">
	<form method="post">
    	{% csrf_token %}
		<div class="col-xs-10">
    		<div class="form-group has-feedback">
				<input type="text" class="form-control" placeholder="Номер телефона" name="phone_number1">
	  	  		<span class="glyphicon glyphicon-phone form-control-feedback"></span>
			</div>
		</div>

		<div class="col-xs-10">
			<div class="form-group has-feedback">
	  			<input type="text" class="form-control" placeholder="Запасной номер телефона" name="phone_number2">
				<span class="glyphicon glyphicon-phone form-control-feedback"></span>
			</div>
		</div>

		<div class="col-xs-10">
			<div class="form-group has-feedback">
				<input type="text" class="form-control" placeholder="Адрес почты" name="email">
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6"></div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-default btn-block btn-flat">Дальше</button>
			</div>
	    	<!-- /.col -->
	  	</div>
	</form>
</div>
{% endblock %}