{% extends 'registration_base.html'%}

{% block content %}

{% if form.errors %}
{% for key, value in form.errors.items %}
<p>{{ value }}</p>
{% endfor %}
{% endif %}


{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group has-feedback">
    {% if field.name != 'username' %}
    <input type="password" class="form-control" placeholder="{{field.label}}" name="{{field.name}}">
    {% else %}
    <input type="text" class="form-control" placeholder="{{field.label}}" name="{{field.name}}">
    {% endif %}
    <span class="glyphicon glyphicon form-control-feedback"></span>
  </div>
  {% endfor %}
  {% for field in personal_form %}
  <div class="form-group has-feedback">
    {% if field.name == 'photo' %}
    <input type="file" class="form-control" placeholder="{{field.label}}" name="{{field.name}}" accept="image/*">
    {% else %}
    <input type="text" class="form-control" placeholder="{{field.label}}" name="{{field.name}}">
    {% endif %}
    <span class="glyphicon glyphicon form-control-feedback"></span>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-xs-8"></div>
    <div class="col-xs-4">
      <button type="submit" class="btn btn-default btn-block btn-flat">Дальше</button>
    </div>
    <!-- /.col -->
  </div>
</form>
{% endblock %}
