{% extends "base.html" %}
{% load i18n thumbnail %}

{% block content %}
<section class="content">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<ul>
					{% if user.is_authenticated %}
					<p><h2>Здравствуйте, {{user.profile.personal_data.first_name}}!</h2></p>
					{% else %}
					<p><h2>Вы не авторизованы</h2></p>
					{% endif %}
				</ul>
				<ul>
					{% if user.is_authenticated and user.username != 'admin' %}
					<a class="btn btn-default" href="{% url 'clients:profile' user.profile.uuid %}">
						Профиль
						<span class="glyphicon glyphicon-user"></span>
					</a>
					<a class="btn btn-default" href="{% url 'basket:basket-detail' user.profile.basket_id %}">
						Корзина
						<span class="glyphicon glyphicon-shopping-cart"></span>
					</a>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Недавно добавлено</h3>
			</div>
			<div class="box-body">
				<div class="panel">
					<div class="content">
						<div class="row">
							{% for good in goods %}
							<div class="col-md-3">
								<div class="small-box responsive" style="color:gray">
									<ul class="products-list product-list-in-box">
										<div class="col-md-1">
											<div class="product-img">
												{% thumbnail good.photo "400x400" crop="center" as im %}
												<img src="{{ im.url }}" alt="Product Image">
												{% endthumbnail %}
											</div>
										</div>
										<div class="col-md-1">
											<div class="product-info">
												<a href="{% url 'goods:good-detail' good.uuid %}" style="color: #525252" class="product-title">{{ good.name }}
													<span class="label label-default">{{ good.total_price }} сум</span>
												</a>
												<form method="POST" action="{% url 'basket:add-goods' %}">
													{% csrf_token %}
													<input type="hidden" name="basket" id="id_basket" value="{{ user.profile.basket_id }}">
													<input type="hidden" name="good" id="id_good" value="{{ good.uuid }}">
													<div class="input-group">
														<input type="number" class="form-control" name="number" id="id_number" min="1" style="width: 5em" value=1>
													</div>
													<input type="submit" class="btn btn-default" value="В корзину">
												</form>
											</div>
										</div>
									</ul>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- /.item -->
			</div>
		</div>
	</div>
</section>
{% endblock %}
